.banner {
  background: url(../imgs/about/company-c1-g.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
}
.banner .center-block {
  margin-top: 200px;
}
.short {
  margin: 100px auto 0;
  padding-bottom: 200px;
  text-align: center;
  width: 80%;
}
.short h2 {
  margin: 20px 0;
  font-size: 40px;
}
.short span {
  font-size: 20px;
}
.short p {
  margin-top: 30px;
  text-align: left;
  text-indent: 2em;
}
.culture .c-text {
  position: absolute;
  left: 6%;
  bottom: 12%;
  width: 300px;
}
@media (max-width: 767px) {
  .short h2,
  .culture .c-text h2 {
    font-size: 20px;
  }
  .short span {
    font-size: 16px;
  }
}
