body {
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
  position: relative;
}
li {
  list-style: none;
}
.navbar-header .navbar-brand {
  font-size: 20px;
  color: #333;
}
a {
  color: #424242;
}
@media (min-width: 768px) {
  .header {
    height: 90px;
    background-color: transparent;
    border-bottom: none;
  }
  .header:hover {
    background-color: #fff;
    border-bottom: 2px solid #379fff;
  }
  @keyframes move {
    0% {
      top: 5px;
    }
    50% {
      top: 18px;
    }
    100% {
      top: 5px;
    }
  }
  .header .nav .onthis .tip {
    position: absolute;
    left: 50%;
    top: 5px;
    margin-left: -11px;
    display: block;
    width: 18px;
    height: 18px;
    background: url(../imgs/index/home-icon.png) -124px -140px;
    animation: move 1s ease-in-out infinite;
  }
  .header .navbar-header .navbar-brand {
    height: 90px;
    line-height: 60px;
  }
  .header .navbar-nav > .open > a,
  .header .navbar-nav > li > a {
    height: 90px;
    line-height: 60px;
    background-color: transparent;
  }
  .header .navbar-nav > .open > a:hover {
    background-color: transparent;
  }
  .header .dropdown-menu {
    left: -36px;
    border-bottom: 2px solid #379fff;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .header .dropdown-menu .active {
    color: #379fff;
  }
  .header .dropdown-menu > b {
    position: absolute;
    left: 50%;
    top: -20px;
    margin-left: -12px;
    display: block;
    width: 0;
    height: 0;
    border-width: 10px 12px;
    border-style: solid;
    border-color: transparent transparent #379fff;
  }
  .header .dropdown-menu > li > a {
    height: 70px;
    line-height: 70px;
    border-bottom: 1px dashed #379fff;
  }
  .header .dropdown-menu > li > a:hover {
    color: #fff;
    background-color: #379fff;
  }
  .header .dropdown-menu > li:last-child a {
    border-bottom: none;
  }
  .header-temp {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid #379fff;
  }
  .dropdown-menu .nav-dropdown-ul {
    position: absolute;
    left: 100%;
    top: 0;
    width: 200px;
  }
  .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 315px;
    background: url(../imgs/index/footer-bg.png) no-repeat bottom;
    background-size: 100%;
    z-index: 10;
  }
  .footer .f-brand {
    position: absolute;
    left: 30px;
    bottom: 0;
    width: 214px;
    height: 45px;
    background: url(../imgs/index/home-icon.png) no-repeat -145px -414px;
  }
  .footer .copyright {
    position: absolute;
    right: 30px;
    bottom: 0;
    text-align: right;
    color: #ccc;
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .dropdown-menu .nav-dropdown-ul {
    margin-left: 20px;
  }
  .container-fluid .navbar-collapse {
    max-height: 100%;
  }
  .footer {
    padding: 20px;
    position: relative;
    background: #1479d6;
  }
  .footer .f-brand {
    display: none;
  }
  .footer .copyright {
    color: #fff;
    text-align: center;
    position: relative;
    right: 0;
  }
}
