.banner {
  padding-top: 100px;
  background: url(../imgs/product/cen_resource_banner.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}
.banner ul {
  margin: 30px auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.banner ul li {
  width: 180px;
}
.banner ul li i {
  margin: 20px auto;
  display: block;
  width: 95px;
  height: 95px;
  background-image: url(../imgs/product/res_banner_icon.png);
}
.banner ul li span {
  font-size: 20px;
}
.banner ul li p {
  margin-top: 20px;
  line-height: 2;
}
.banner ul li:nth-child(2) i {
  background-position: -100px 0;
}
.banner ul li:nth-child(3) i {
  background-position: -200px 0;
}
.banner ul li:nth-child(4) i {
  background-position: -300px 0;
}
.banner ul li:nth-child(5) i {
  background-position: -400px 0;
}
.resouse {
  position: relative;
  padding-top: 50px;
  background-color: #fbfbfb;
  overflow: hidden;
}
.resouse h2 {
  text-align: center;
}
.resouse img {
  margin: 50px auto;
}
.resouse li {
  position: absolute;
  font-size: 20px;
}
.resouse .tit1 {
  top: 14%;
  right: 20%;
}
.resouse .tit2 {
  top: 36%;
  left: 20%;
}
.resouse .tit3 {
  top: 55%;
  right: 20%;
}
.resouse .tit4 {
  top: 74%;
  left: 20%;
}
.advance {
  padding-bottom: 200px;
  text-align: center;
}
.advance img {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .resouse h2 {
    font-size: 20px;
  }
  .resouse li {
    font-size: 16px;
  }
  .resouse .tit1 {
    top: 20%;
    right: 10%;
  }
  .resouse .tit2 {
    top: 40%;
    left: 10%;
  }
  .resouse .tit3 {
    top: 55%;
    right: 10%;
  }
  .resouse .tit4 {
    top: 72%;
    left: 10%;
  }
  .advance {
    padding-bottom: 50px;
  }
  .advance h2 {
    font-size: 20px;
  }
}
